.search-container {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
  align-self: center;
  width: 10rem;
  
  @media (min-width: 600px) {
    width: 30rem;
  }

  i.fa-search {
    padding: 0.5rem;
  }

  input[type="search"] {
    border: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    outline: none;
  }
}
