div {
  &.paginator {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: baseline;
    ul {
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      button {
        &:not(:last-child) {
          margin-right: 1rem;
        }
        padding: .9rem;
        border: 0.5px solid lightgray;
        border-radius: .5rem;
        background: transparent;
        outline: none;
        &.disabled {
          pointer-events: none;
          opacity: 0.5;
          border: 0.5px solid lightgray;
          border-radius: .5rem;
          outline: none;
          background: lightgray;
        }
      }
    }
  
    @media (min-width: 600px) {
      display: flex;
      margin-top: 0;
      justify-content: flex-end;
      width: min-content;
      ul {
        margin: 0 1rem;
        width: min-content;
        button {
          box-sizing: border-box;
          border: none;
          &:hover:not(.disabled) {
            border: 0.5px solid lightgray;
            border-radius: .5rem;
            outline: none;
            cursor: pointer;
          }
          &.disabled {
            background: transparent;
          }
        }
      }
    }
    
    > div {
      &.paginator__left-icons,
      &.paginator__right-icons {
        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }
        cursor: pointer;
        display: none;
        @media (min-width: 600px) {
          display: flex;
          width: 3rem;
          justify-content: space-around;
        }
      }
    }
  }  
}